/*navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/*home section*/
#home{
    height: 280px;
    padding: 3px 20px;
    

}
#home::before{
    height: 370px;
}
#home p{
    font-size: 1rem;
}
/*services section*/
#services{
    flex-direction: column;


}
#services .box{

}
/* client section*/
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 50px;
    padding: 2px 2px;
}


/*contact us section*/

/*footer section*/

/*utility section */
.h-primary{
    font-size: 25px;

}
.btn{
    font-size: 1rem;
    padding: 4px 8px;}